<h1>Write your Rating for <%=@rating.game.title %></h1>
on <%= @rating.game.platform.console %>
<br></br>

<%= render '/layouts/errors', locals: {object: @rating} %>

<%= form_for @rating do |f|%>
  <div>
    <%= f.label :difficulty%>
    <%= f.text_field :difficulty, size: "4x2"%>
  </div>

  <div>
    <%= f.label :stars, "Rating from 1-5"%>
    <%= f.number_field :stars, min: 0, max: 5%>
  </div>
<div></div>

  <div>
    <%= f.label :review%>
  </div>

    <div>
    <%= f.text_area :review, size: "20x4"%>
  </div>

    <%= f.hidden_field :game_id%>
    
    <br>
  <%= f.submit %>
<% end %>
