<h1>Rating for: <%=@rating.game.title%></h1>
<h2> On <%= @rating.game.platform.console%></h2>

<div>
	Description:
	<li><%= @rating.game.description %></li>
	<br></br>
</div>
<h2>Played on: <%=@rating.difficulty%></h2>

<ol><%=@rating.stars%>/5 stars</ol>
<ol>Playthrough Review: <%=@rating.review%></ol>

<ol>
<div class="center">
<button><%= link_to "Return to Games", games_path%></button>
</div></ol>