<h1 align="center">Create a Game!</h1>
<div align="center">
<%= render '/layouts/errors', object: @game, as: 'object' %>

<%= form_for(@game) do |f| %>
    
  <div>
    <%= f.label :title %><br />
    <%= f.text_field :title  %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>

Select a Platform from the current list
	<div>
 	<%= f.collection_select :platform_id, Platform.take(7).each, :id, :console, include_blank: true%>
 	</div> 

 	Add another Platform:
 	<div>
 		<%= f.fields_for :platform do |p| %>
 		<%= p.text_field :console, placeholder: "   INPUT NEW CONSOLE" %>
 		<% end %>
 	</div>
 	<br></br>
<div>
 	<%= f.submit "Create" %>
</div> 	<% end %>

</div>